
<div style="font-weight:550;margin:30px 30px 30px 190px;">
  <span style="font-size:20px;background-color:#dcdcdc;padding:0px 15px;">商品一覧</span>
</div>
<div style="margin-left: 80%;margin-bottom: 20px;">
 <%= link_to "＋", new_admin_item_path(@items), class:"btn btn-sm btn-outline-secondary" %>
</div>
<table style="margin-left: 20%;margin-right: 15%;">
  <thead>
    <tr style="background-color:#dcdcdc;padding:30px;border-bottom: solid 1px #696969;">
      <th width="10%">商品ID</th>
      <th width="20%">商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td>
          <%= item.id %>
        </td>
        <td>
          <%= item.name %>
        </td>
        <td>
          <%= item.price %>
        </td>
        <td>
          <%= item.genre.name %>
        </td>
        <td>
          <%= item.is_active %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>