<div class="container">
  <div class="row">
    <div class = "col-md">
      <div style="margin: 30px;">
        <span style="font-size:20px;background-color:#dcdcdc">商品新規登録</span>
      </div>

      <%= form_with model:@item, url:admin_items_path, local:true do |f| %>
      <form>
          <table style = "margin: 0 10%;">
            <tr>
              <td><%= f.label :商品画像 %></td>
                <td><%= f.attachment_field :image, autofocus: true, size: "60x5" %></td>
            </tr>

            <tr>
              <td><%= f.label :商品名 %></td>
              <td><%= f.text_field :name, autofocus: true, size: "60x5", placeholder: "商品名" %></td>
            </tr>

            <tr>
              <td><%= f.label :商品説明 %></td>
              <td><%= f.text_area :introduction, autofocus: true, size: "60x5", placeholder: "ここに説明文を記述します" %></td>
            </tr>

            <tr>
              <td><%= f.label :ジャンル %></td>
              <td><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択して下さい--" %></td>
            </tr>

            <tr>
              <td><%= f.label :税抜価格 %></td>
              <td><%= f.text_field :price, autofocus: true, size: "60x5", placeholder: "1000" %>円</td>
            </tr>

            <tr>
              <td><%= f.label :販売ステータス %></td>
              <td>
                <%= f.radio_button :is_active, '販売中' %>
                <%= f.label :is_active, '販売中', value: 1 %>
                <%= f.radio_button :is_active, '販売停止中' %>
                <%= f.label :is_active, '販売停止中', value: 0 %>
              </td>
            </tr>

            <tr>
              <td></td>
              <td>
                <div style = "text-align: center">
                  <%= f.submit "新規登録", class: "btn btn-lg btn-success" %>
                </div>
              </td>
            </tr>
          </table>
        </form>
      <% end %>
    </div>
  </div>
</div>
