<div class="container">
  <div style="font-weight:550;margin:30px;">
    <span style="font-size:20px;background-color:#dcdcdc">管理者ログイン</span>
  </div>
  <div>
    <div style="width:100%;">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table style="margin:auto;">
        <tbody>
          <tr>
            <td>
              <div class="field" style="margin-right: 30px;" >
                <%= f.label :email, "メールアドレス" %>
              </div>
            </td>
            <td>
              <div class="field" >
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"sample@example.com", size:"50x5%" %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="field" style="margin-top: 20px" >
                <%= f.label :password, "パスワード" %>
              </div>
            </td>
            <td>
              <div class="field" >
                <%= f.password_field :password, autocomplete: "current-password", size:"50x5%" %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
            </td>
            <td>
              <div class="field button_wrapper" style="margin-top: 20px">
                <button class="btn btn-primary" type="submit">
                  <%= "ログイン" %>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <% end %>
    </div>
  </div>
</div>
<%= render "admin/shared/links" %>
