<div class="container">
  <div class="row">
    <div class = "col-md">
      <div style="margin: 30px;">
        <span style="font-size:20px;background-color:#dcdcdc">配送先登録/一覧</span>
      </div>

      <%= form_with model:@shipping_new, url:shippings_path, local:true do |f| %>
        <form>
          <table style="margin-bottom: 50px;">
            <tr>
              <td><%= f.label :郵便番号（ハイフンなし） %></td>
              <td><%= f.text_field :postcode, autofocus: true, placeholder: "0000000" %></td>
            </tr>

            <tr>
              <td><%= f.label :住所 %></td>
              <td><%= f.text_field :address, autofocus: true, placeholder: "東京都渋谷区代々木神園町0－0", size: "60x5" %></td>
            </tr>

            <tr>
              <td><%= f.label :宛名 %></td>
              <td><%= f.text_field :receiver, autofocus: true, placeholder: "令和道子" %></td>
              <td><%= f.submit "新規登録", class: "btn  btn-sm btn-success" %></td>
            </tr>
          </table>
        </form>
      <% end %>

      <table width="75%">
        <thead>
          <tr style="background-color:#dcdcdc;padding:30px;border: solid 1px #696969;">
            <th width="15%", style = "border: solid 1px #696969">郵便番号</th>
            <th width="35%", style = "border: solid 1px #696969">住所</th>
            <th width="15%", style = "border: solid 1px #696969">宛名</th>
            <th width="35%", style = "border: solid 1px #696969"></th>
          </tr>
        </thead>
        <tbody>
          <% @shippings.each do |shipping| %>
            <tr>
              <td style = "border: solid 1px #696969"><%= shipping.postcode %></td>
              <td style = "border: solid 1px #696969"><%= shipping.address %></td>
              <td style = "border: solid 1px #696969"><%= shipping.receiver %></td>
              <td style = "border: solid 1px #696969">
                <%= link_to "編集する", edit_shipping_path(shipping.id), class: "btn btn-sm btn-success" %>
                <%= link_to "削除する", shipping_path(shipping.id), class: "btn btn-sm btn-danger", method: :delete %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>