<span style="font-size: 20px; background-color: #dcdcdc">
    注文履歴詳細
</span>


<table border="0">
    <table border="1">
      <caption style="margin-rigth: auto;">注文情報</caption>
      
            <tr>
              <th style="background-color: #dcdcdc">注文日</th>
              <td><%= @order.created_at %></td>
            </tr>
            
            <tr>
              <th>配送先</th>
              <td><%= @order.delivery %></td>
            </tr>
            
            <tr>
              <th>支払方法</th>
              <td><% if @order.credit_card? %>
                <p>クレジットカード</p>
                <% elsif @order.transfer? %>
                <p>銀行振込</p>
                <% end %>
              </td>
            </tr>
            
            <tr>
              <th>ステータス</th>
              <td> 
                <% if @order.wait? %>
                <p>入金待ち</p>
                <% elsif @order.confirm? %>
                <p>入金確認</p>
                <% elsif @order.make? %>
                <p>制作中</p>
                <% elsif @order.ready? %>
                <p>配送準備中</p>
                <% elsif @order.complete? %>
                <p>配送済み</p>
                <% end %>
              </td>
            </tr>
    </table>
    
    <table border="1">
      <caption style="margin-rigth: auto;">請求情報</caption>
      
        　　<tr>
        　　  <th style="background-color: #dcdcdc">商品合計</th>
           　<td><%= @total.round.to_s(:delimited) %></td>
        　　</tr>
        　　
        　　<tr>
        　　  <th>配送料</th>
            <td><%= @order.postage %></td>
        　　</tr>
        　　
        　　<tr>
        　　  <th><strong>ご請求額</strong></th>
            <td><%= @order.total_payment %></td>
        　　</tr>
    </table>
</table>
<caption style="margin-rigth: auto;">注文内容</caption>
<table>
  <thead style="background-color: #dcdcdc">
    <tr>
      <th>商品</th>
      <th>単価（税込）</th>
      <th>個数</th>
      <th>小計</th>
    </tr>
  </thead>
  <% @order_item.each do |order| %>
    <tbody>
        <tr>
          <td><%= order.item.name %></td>
          <td><%= order.price_intax %></td>
          <td><%= order.quantity %></td>
          <td><%= order.price_intax*order.quantity %></td>
        </tr>
    </tbody>
  <% end %>
  
</table>