<div style="font-weight:550;margin:30px 30px 30px 190px;">
  <span style="font-size:20px;background-color:#dcdcdc;padding:0px 15px;">ショッピングカート</span>
</div>
<div>
  <%= button_to "カートを空にする", destroy_all_cart_items_path, method: :delete, class: "btn btn-danger" %>
</div>
<table style="margin-left: 20%;margin-right: 15%;">
  <thead>
    <tr style="background-color:#dcdcdc;padding:30px;border-bottom: solid 1px #696969;">
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="border border-solid">
    <% @cart_items.each do |cart_items| %>
      <tr>
        <td>
          <%= attachment_image_tag cart_items.item,:image, :size =>'60x60'%>
          <%= cart_items.item.name %>
        </td>
        <td>
          <%= (cart_items.item.price * 1.1).round %>
        </td>
        <td>
           <%= form_with model:cart_items, url:cart_item_path(cart_items.id), method: :patch, local:true do |f| %>
           <%= f.select :quantity, [['1',1], ['2',2], ['3',3]] %>
           <%= f.submit "変更", class: "btn btn-primary" %>
           <% end %>
        </td>
        <td>
          <%= (cart_items.item.price * 1.1).round * cart_items.quantity %>
        </td>
        <td>
          <%= link_to '削除する', cart_item_path(cart_items.id), method: :delete, "date-confirm" => "本当に削除しますか", class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>

      <div>
        ¥<%= @total.round.to_s(:delimited) %>
      </div>

  </tbody>
</table>

     <div>
      <%= link_to '買い物を続ける', root_path, class:'btn btn-primary' %>
     </div>
     
     <div>
       <%= link_to '情報入力に進む', new_order_path, class:'btn btn-success' %>
     </div>


<table style="margin-left: 20%;margin-right: 15%;">
  <tr class="border border-solid">
    <th style="background-color:#dcdcdc;padding:30px;border-bottom: solid 1px #696969;">
      合計金額
    </th>
    <td>
      <%= (@total* 1.1).round %>
    </td>
  </tr>
</table>


