
<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body　class="d-flex flex-column vh-100">
    <header class = "shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <div class="ml-auto">
            <ul class="navbar-nav ml-auto">
            <% if customer_signed_in? %>
              <li class = nav-item>
                <%= link_to "マイページ", customer_path, class: "btn btn-sm btn-light" %>
              </li>
              <li>
                <%= link_to "商品一覧", items_path, class: "btn btn-sm btn-light" %>
              </li>
              <li>
                <%= link_to "カート", cart_items_path, class: "btn btn-sm btn-light" %>
              </li>
              <li>
                <%= link_to "ログアウト", root_path, class: "btn btn-sm btn-light" %>
              </li>
            <% elsif admin_signed_in? %>
              <li class = nav-item>
                <%= link_to "商品一覧", admin_items_path, class: "btn btn-sm btn-light" %>
              </li>
              <li class = nav-item>
                <%= link_to "会員一覧", admin_customers_path, class: "btn btn-sm btn-light" %>
              </li>
              <li class = nav-item>
                <%= link_to "注文履歴一覧", admin__path, class: "btn btn-sm btn-light" %>
              </li>
              <li class = nav-item>
                <%= link_to "ジャンル一覧", admin_genres_path, class: "btn btn-sm btn-light" %>
              </li>
              <li class = nav-item>
                <%= link_to "ログアウト", root_path, class: "btn btn-sm btn-light" %>
              </li>
            <% else %>
              <li class="nav-item">
                <button type="button" class="btn btn-outline-secondary", style="margin: 20px;">
                 <%= link_to "About", home_about_path, class:"nav-link active btn" %>
                </button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-outline-secondary", style="margin: 20px;">
                 <%= link_to "商品一覧", items_path, class:"nav-link btn" %>
                 </button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-outline-secondary", style="margin: 20px;">
                 <%= link_to "新規登録", new_customer_registration_path, class:"nav-link btn" %>
                </button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-outline-secondary", style="margin: 20px;">
                 <%= link_to "ログイン", new_customer_session_path, class:"nav-link btn" %>
                </button>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
