
<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class = "Small shadow">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <div>
            <ul class="navbar-nav ml-auto">
            <% if coutomer_signed_in? %>
              <li>
              </li>
            <% elsif admin_signed_in? %>
              <li>
              </li>
            <% elsif coutomer_signed_out? %>
              <li>
              </li>
            <% else admin_signed_out? %>
              <li>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
